/nbproject/*

.project
.buildpath
.settings

/web/bundles/
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/bin/
/composer.phar
/nbproject/private/

*.php
!/src/Kwejk/MemsBundle/Entity/Comment.php
!/src/Kwejk/MemsBundle/Entity/Mems.php
!/src/Kwejk/MemsBundle/Entity/Raring.php
!/src/Kwejk/MemsBundle/KwejkMemsBundle.php
!/src/Kwejk/MemsBundle/Entity/Rating.php
!/src/Kwejk/UserBundle/KwejkUserBundle.php
!/src/Kwejk/UserBundle/Entity/User.php
!/app/autoload.php
!/app/SymfonyRequirements.php
!/app/check.php
!/app/AppCache.php
!/app/AppKernel.php
!/app/DoctrineMigrations/Version20141105201840.php
!/src/Kwejk/LayoutBundle/KwejkLayoutBundle.php
!/src/Kwejk/LayoutBundle/Controller/DefaultController.php
!/vendor/doctrine/doctrine-fixtures-bundle/Doctrine/Bundle/FixturesBundle/DoctrineFixturesBundle.php